<div *ngIf="user" class="user-info-card">
  <h3>
    Benutzerinformationen
    <a (click)="toggleEdit()"><i class="fa-solid fa-pen-to-square"></i></a>
  </h3>
  <ul>
    <li><strong>ID:</strong> {{ user.id }}</li>
    <li>
      <strong>Vorname:</strong>
      <span *ngIf="!editMode">{{ user.firstName }}</span>
      <input *ngIf="editMode" [(ngModel)]="user.firstName" />
    </li>
    <li>
      <strong>Nachname:</strong>
      <span *ngIf="!editMode">{{ user.lastName }}</span>
      <input *ngIf="editMode" [(ngModel)]="user.lastName" />
    </li>
  </ul>
  <div *ngIf="editMode" class="edit-actions">
    <button (click)="saveUser()">Speichern</button>
    <button (click)="cancelEdit()">Abbrechen</button>
  </div>
</div>

<div class="account-table-container">
  <h2>Meine Konten</h2>
  <table class="account-table">
    <thead>
      <tr>
        <th>Kontonr.</th>
        <th>Typ</th>
        <th>Kontostand</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of accounts">
        <td>{{ a.accountNumber }}</td>
        <td>{{ a.accountType }}</td>
        <td>{{ a.accountBalance | number:'1.2-2' }} €</td>
      </tr>
    </tbody>
  </table>
</div>