<h1>Meine Konten</h1>
<div class="administration-container">
  <div class="table-wrapper">
    <table class="accounts-table">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col }}</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col">
              <span *ngSwitchCase="'accountBalance'">
                {{ account[col] | number:'1.2-2' }} €
              </span>
              <span *ngSwitchDefault>
                {{ account[col] }}
              </span>
            </ng-container>
          </td>
          <td class="actions">
            <button class="btn" (click)="deposit(account)">Einzahlen</button>
            <button class="btn" (click)="withdraw(account)">Auszahlen</button>
            <button class="btn" (click)="transfer(account)">Überweisen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showTransactionForm" class="transaction-card">
    <h3>
      {{ transactionType === 'deposit' ? 'Einzahlen' : 'Auszahlen' }}
      - Konto {{ selectedAccount.accountNumber }}
    </h3>
    <input
      type="number"
      [(ngModel)]="transactionAmount"
      placeholder="Betrag eingeben"
      min="0"
    />
    <div class="actions">
      <button class="btn" (click)="confirmTransaction()">Bestätigen</button>
      <button class="btn" (click)="cancelTransaction()">Abbrechen</button>
    </div>
  </div>

  <div *ngIf="showTransferForm" class="transaction-card">
    <h3>Zielkonto-Nummer -- Betrag</h3>
    <input
      type="number"
      [(ngModel)]="transferTargetAccountNumber"
      placeholder="Zielkonto-Nummer"
      min="1"
    />
    <input
      type="number"
      [(ngModel)]="transferAmount"
      placeholder="Betrag eingeben"
      min="0"
    />
    <div class="actions">
      <button class="btn" (click)="confirmTransfer()">Senden</button>
      <button class="btn" (click)="cancelTransfer()">Abbrechen</button>
    </div>
  </div>
</div>